@using Application.DTO

@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <h1 class="display-4">Clientes</h1>
</div>

@model List<ClientDTO>
@if(Model.Count != 0)
{
    <table>
        <tr>
            <th>CUIT</th>
            <th>Razón Social</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        @foreach (var clientDto in Model)
        {
        <tr>
            <td>@clientDto.CUIT</td>
            <td>@clientDto.RazonSocial</td>
            <td>@clientDto.Telefono</td>
            <td>@clientDto.Direccion</td>
            <td>@clientDto.Activo</td>
            <td>
                <a asp-action="Edit" asp-route-cuit="@clientDto.CUIT">Editar</a>
                <a asp-action="Delete" asp-route-cuit="@clientDto.CUIT">Eliminar</a>
            </td>
        </tr>
        }
    </table>
} else
{
    <div class="text-center">
        <p>No se registraron clientes.</p>
    </div>
}
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Client" asp-action="CreateForm">Agregar nuevo cliente</a>
</div>