@using Application.DTO

@{
    ViewData["Title"] = "Clientes";
}
@model List<ClientDTO>

<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <a class="btn btn-success" asp-controller="Client" asp-action="Create" data-bs-toggle="tooltip" title="Agregar un nuevo cliente">
        <i class="bi bi-plus-circle"></i> Agregar nuevo cliente
    </a>
</div>
<div style="max-height: 500px; overflow-y: auto;">
<table class="table table-hover table-bordered text-center ">
    <thead class="thead-dark">
        <tr>
            <th>CUIT</th>
            <th>Razón Social</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @if(Model.Count != 0)
    {
        @foreach (var clientDto in Model)
        {
        <tr>
            <td>@clientDto.CUIT</td>
            <td>@clientDto.RazonSocial</td>
            <td>@clientDto.Telefono</td>
            <td>@clientDto.Direccion</td>
            <td>
                <span class="badge @(clientDto.Activo ? "bg-success text-white" : "bg-danger text-white")">
                    @(clientDto.Activo ? "Activo" : "Inactivo")
                </span>
            </td>

            <td>
                <a class="btn btn-primary btn-sm" asp-action="Detail" asp-route-cuit="@clientDto.CUIT" data-bs-toggle="tooltip" title="Detalle">
                    <i class="bi bi-info-circle"></i>
                </a>
                <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-cuit="@clientDto.CUIT" data-bs-toggle="tooltip" title="Editar">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-cuit="@clientDto.CUIT" data-bs-toggle="tooltip" title="Eliminar">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
        }

    }
    else
    {
        <tr>
            <td colspan="6" class="text-center text-muted">No se registraron clientes.</td>
        </tr>
    }
    </tbody>
</table>
</div>
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-light alert-dismissible fade show mt-4" role="alert">
        <strong>Info:</strong> @TempData["InfoMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}